* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

body::-webkit-scrollbar {
  width: 0;
}

a {
  text-decoration: none;
}

:root {
  --aside-width: 250px;
  --header-width: 80px;
  --transition-all: 0.5s;
  --transition-all-3s: 0.3s;
}
